@model SportsDataApp.Models.BaseballGame

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BaseballGame</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunsScored)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunsScored)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunsAllowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunsAllowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
