@model SportsDataApp.Models.Season

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Season</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.losses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.losses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.winPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.winPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.outcome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.outcome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
