@model IEnumerable<SportsDataApp.Models.Team>

@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/data.css" asp-append-version="true" />
</head>
<body>
    <div class = "table-container">
    <table class="data-tables">
    <thead>
        <tr>
            <th>
                Team Name
            </th>
            <th>
                Abbrev
            </th>
            <th>
                Sport
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
    </div>
</body>


